@model Calculator.Models.Screen

<div class="screen">
    <div id="topScreen" class="topScreen">
        @Model.UpperScreen
    </div>
    <div id="bottomScreen" class="bottomScreen bottomScreenDefault">
        @Model.LowerScreen
    </div>
</div>
